/* ------------------------------------------------------------------------------ Universal Items ------------------------------------------------------------------------------*/
:root {
  --background: rgb(20, 119, 134);
  --buttonHover: rgb(0, 129, 134);
  --underLine: rgb(0, 255, 247);
  --mainDiv: rgba(65, 65, 65, 0.703);
}
body {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 0;
}
html {
  padding: 0;
}

/* ------------------------------------------------------------------------------ Header Items ------------------------------------------------------------------------------ */
header {
  width: 101%;
  margin-left: 0;
  margin-right: 0;
  display: grid;
  grid-template-columns: auto 1fr auto; /* Creates three columns */
  grid-gap: 10px; /* Adjust the gap between elements */
  align-items: center; /* Vertically center content */
  padding-bottom: 5px;
  box-shadow: 0px 5px 5px rgb(0, 0, 0);
  background-color: white;
  height: 60px;
}
header button {
  margin: 5px;
  background-color: #ffffff;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  border: none;
  font-size: large;
  padding: 10px;
}
header button:hover {
  background-color: var(--buttonHover);
}
header a:active {
  color: white;
}
a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
#top {
  margin-top: 10px;
  margin-bottom: 10px;
}
#logo {
  height: 40px;
  width: 35px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 20px;
  margin-right: 20px;
}
#left,
#right {
  text-align: right;
  display: flex;
}

#middle {
  display: flex;
  justify-content: center;
}
#user,
#search {
  height: 30px;
  width: 30px;
  margin-right: 12px;
  margin-left: 12px;
  filter: invert(0);
  padding: 8px;
  border-radius: 10px;
}

#Header-Name {
  color: rgb(0, 0, 0);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.current {
  background-color: rgb(255, 255, 255);
  color: black;

  text-decoration: underline;
  text-decoration-color: var(--underLine);
  text-decoration-thickness: 3px;
}

#search {
  margin-left: 60px;
}

#search:hover {
  background-color: var(--buttonHover);
}
#search:hover {
  background-color: var(--buttonHover);
}
#user:hover {
  background-color: var(--buttonHover);
}

/* ------------------------------------------------------------------------------Search ------------------------------------------------------------------------------- */

#searchButton {
  width: 200px;
  border-width: 1px;
  border-color: black;
  margin: 5px;
  background-color: #ffffff;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  font-size: x-large;
  padding: 10px;
}
#searchButton:hover {
  background-color: var(--buttonHover);
}

#paragraph {
  color: white;
}
/* ------------------------------------------------------------------------------Create ------------------------------------------------------------------------------- */
#titleCreate,
#contentCreate {
  background-color: var(--mainDiv);
  color: white;
  border-radius: 20px;
  width: 800px;
  height: auto;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 5px;
  text-align: center;
}
#titleCreate button,
#contentCreate button {
  background-color: rgb(249, 249, 249);
  height: 50px;
  width: 125px;
  border-radius: 10px;
  border: none;
}
#titleCreate button:hover,
#contentCreate button:hover,
#submitCreate button:hover {
  background-color: var(--buttonHover);
  cursor: pointer;
}

#submitCreate {
  width: 500px;
  height: 75px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
#submitCreate button {
  background-color: rgb(255, 255, 255);
  height: 50px;
  width: 100px;
  border-radius: 15px;
  border: none;
}
#instructions a {
  color: var(--underLine);
}
/* ------------------------------------------------------------------------------ Plus ------------------------------------------------------------------------------- */
#widgets {
  height: 1000px;
  width: 900px;
  margin: 20px;
  background-color: var(--mainDiv);
  border-radius: 50px;
  border: 1px black solid;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  border: none;
}
#widgetsA {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  border-radius: 50px;
  margin-top: 100px;
  background-color: var(--mainDiv);
  width: 820px;
  height: auto;
  text-align: center;
}
.widget {
  flex: 1 1 calc(50% - 20px); /* Two items per row with gap of 20px */
  width: 400px;
  background-color: #ffffff;
  border-radius: 35px;
  border: 1px solid #000;
  padding: 20px;
  text-align: center;
}
#line {
  height: 1px;
  background-color: #000;
  width: 400px;
}
/* ------------------------------------------------------------------------------ Qùiz ------------------------------------------------------------------------------- */

.quizDiv {
  margin-top: 50px;
  font-size: large;
  background-color: var(--mainDiv);
  padding: 20px;
  color: rgb(255, 255, 255);
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
}
#quizDivTop {
  margin-top: 40px;
}
#submitButton {
  margin-top: 50px;
  margin-left: 43%;
  background-color: rgb(0, 100, 128);
  color: white;
  border: none;
  height: 50px;
  border-radius: 7px;
  font-size: larger;
}
#submitButton:hover {
  cursor: pointer;
  background-color: var(--buttonHover);
}
#submitButton:active {
  background-color: var(--buttonHover);
}
#retourner {
  left: 30px;
  top: 50px;
  height: 40px;
  font-size: medium;
  border-radius: 10px;
  margin-top: 50px;
  border: none;
  background-color: white;
  position: fixed;
}

#retourner:hover {
  cursor: pointer;
  background-color: var(--buttonHover);
}
#retourner:active {
  color: white;
}
/* ------------------------------------------------------------------------------ Suggestions ------------------------------------------------------------------------------- */

#suggestions {
  padding-top: 50px;
  margin-top: 100px;
  height: 500px;
  width: 800px;
  border-radius: 50px;
  background-color: var(--mainDiv);
  display: flex;
  justify-content: center;
}
#suggestions #submitButton {
  margin: none;
}
#suggestionsInput {
  margin-top: 10px;
  width: 500px;
  height: 200px;
  border-radius: 30px;
  border: none;
  padding: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
/* ------------------------------------------------------------------------------ Article de la journée ------------------------------------------------------------------------------- */

#articleJour {
  margin-top: 20px;
  background-color: var(--mainDiv);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  color: white;
  margin-left: 150px;
  margin-right: 150px;
}
#signets {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--mainDiv);
  padding: 50px;
  border-radius: 30px;
  width: 800px;
  color: white;
  margin-bottom: 800px;
}
.quizDiv select {
  width: 200px;
  height: 20px;
  border-radius: 5px;
}
#searchBox {
  height: 500px;
  width: 900px;
  background-color: var(--mainDiv);
  margin-top: 150px;
  margin-bottom: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 50px;
  padding: 20px;
}

#indexMain {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  border-radius: 50px;
  margin-top: 100px;
  background-color: var(--mainDiv);
  width: 820px;
  height: auto;
  text-align: center;
}

#indexMain h1 {
  color: white;
  width: 100%; /* Take up full width */
  margin: auto; /* Center the h1 horizontally */
  margin-bottom: 20px; /* Add margin at the bottom of the h1 for spacing */
}

.indexWidget {
  flex: 1 1 calc(50% - 20px); /* Two items per row with gap of 20px */
  height: 230px;
  width: 400px;
  background: rgba(255, 255, 255, 0);
  border-radius: 50px;
  margin-bottom: 20px; /* Add margin at the bottom of the squares for spacing */
}

.indexWidget button {
  border-radius: 25px;
  font-size: large;
  background-color: #ffffff;
  border: black 1px solid;
}
.indexWidget button:hover {
  cursor: pointer;
  background-color: var(--buttonHover);
  border: none;
  color: rgb(0, 0, 0);
}

/* ------------------------------------------------------------------------------ Parcourir ------------------------------------------------------------------------------- */
#parcourirMain {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  border-radius: 50px;
  margin-top: 100px;
  background-color: var(--mainDiv);
  width: 820px;
  height: auto;
  text-align: center;
}

#parcourirMain h1 {
  color: white;
  width: 100%; /* Take up full width */
  margin: auto; /* Center the h1 horizontally */
  margin-bottom: 20px; /* Add margin at the bottom of the h1 for spacing */
}

.parcourirWidget {
  flex: 1 1 calc(50% - 20px); /* Two items per row with gap of 20px */
  height: 400px;
  width: 400px;
  background: rgb(255, 255, 255);
  border-radius: 50px;
  margin-bottom: 20px; /* Add margin at the bottom of the squares for spacing */
}

#parcourirMain .parcourirWidget h2 {
  color: black;
  margin-top: 10px;
}

#topbottom {
  background-color: rgb(255, 255, 255);
}
#rightleft {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
}
#topbottom #rightleft ul li {
  font-size: large;
  margin: 20px;
}
/* ------------------------------------------------------------------------------ Articles de la semaine ------------------------------------------------------------------------------- */

#articlesDeLaSemaine {
  background-color: var(--mainDiv);
  width: 1000px;
  height: 800px;
  margin-top: 100px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#themeSemaine {
  background-color: white;
  height: 70px;
  margin: 20px;
  width: 850px;
  border-radius: 35px;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.articleSemaine {
  background-color: white;
  height: 60px;
  margin: 20px;
  width: 450px;
  border-radius: 35px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.articleSemaine:hover {
  background-color: var(--buttonHover);
  cursor: pointer;
}
.articleSemaine:active {
  color: whitexq;
}

#themeSemaine h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: xx-large;
  margin-bottom: 5px;
  margin-top: 5px;
}

.articleSemaine p {
  display: flex;
  align-items: center;
  justify-content: center;
}

#jeuxMain {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  border-radius: 50px;
  margin-top: 100px;
  background-color: var(--mainDiv);
  width: 820px;
  height: auto;
  text-align: center;
}
.jeu {
  flex: 1 1 calc(50% - 20px); /* Two items per row with gap of 20px */
  height: auto;
  width: 390px;
  background: rgb(255, 255, 255);
  border-radius: 50px;
  margin-bottom: 20px; /* Add margin at the bottom of the squares for spacing */
  padding: 5px;
}

.jeu:hover {
  background-color: var(--buttonHover);
}
.jeu:active {
  color: white;
}

#wordleMain {
  height: 500px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
}
.square {
  height: 95px;
  width: 95px;
  background-color: #fffafa;
  display: flex;
  align-items: center;
  justify-content: center;
}
.square:hover {
  cursor: pointer;
  background-color: var(--buttonHover);
}

.square h1 {
  font-family: sans-serif;
  font-size: 70px;
  margin: 0px;
}

#wordle {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  border-radius: 50px;
  margin-top: 100px;
  background-color: var(--mainDiv);
  width: 820px;
  height: auto;
  text-align: center;
  flex-direction: column;
}

#clavier {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.key {
  margin: 10px 3px 10px 3px;
  height: 50px;
  width: auto;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
.key:hover {
  cursor: pointer;
  background-color: var(--buttonHover);
}

.row {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 0;
  width: 800px;
}

.key h1 {
  padding: 15px;
  background-color: rgb(255, 236, 236);
  border: 1px black solid;
}
.key h1:hover {
  background-color: var(--buttonHover);
}

#popup {
  background-color: rgb(255, 255, 255);
  height: auto;
  width: 600px;
  position: fixed;
  margin-top: 100px;
  border-radius: 20px;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

#fermer {
  border: 1px solid black;
  background-color: white;
  height: 25px;
  border-radius: 5px;
}

#fermer:hover {
  cursor: pointer;
  background-color: var(--buttonHover);
}

#closeImg {
  position: fixed;
  margin-left: 650px;
  transform: translateY(-38.5px);
  height: 20px;
}
#closeImg:hover {
  cursor: pointer;
}
